<img src="./assets/logo.png" class="logo"/>
<div class="container">
  <!--<div class="userbar"><img src="./profile.png"/><span>27/12/2017 11:30</span></div>-->
  <div class="brand">Demo Pet Shop</div>
  <!--<div class="banner">Sales! 20% and 30% on goldfish</div>-->
  <div class="cart">
    <table>
      <thead>
      <tr>
        <th class="aright">Item</th>
        <th class="acenter"></th>
        <th class="acenter">Price</th>
        <th class="acenter">Quantity</th>
        <th class="aleft">Total</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let animal of animals">
        <td class="aright">{{ animal.species }}</td>
        <td class="acenter saleColumn">
          <span *ngIf="animal.salePrice && animal.salePercentage" class="sale">{{ animal.salePercentage }}% off</span>
          <span *ngIf="animal.salePrice" class="nsprice">&euro; {{ animal.unitPrice }}</span>
        </td>
        <td class="acenter price">
          <span class="price">&euro; {{(animal.salePrice)? animal.salePrice : animal.unitPrice}}</span>
        </td>
        <td class="acenter"><input type="text" class="quantity" id="{{animal.species}}" placeholder=""
                                   [(ngModel)]="animal.quantity"></td>
        <td class="aleft">&euro; {{ animal.totalPrice }}</td>
      </tr>
      <tr class="total">
        <td colspan="4" class="aright">Total</td>
        <td class="total aleft">&euro; {{ total }}</td>
      </tr>

      </tbody>
    </table>

  </div>

  <div class="footer">
    <div class="contact">
      <div>{{ contact.company }}</div>
      <div>{{ contact.address }}</div>
      <div>{{ contact.phone }}</div>
    </div>
  </div>
</div>
